In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

In [2]:
type(iris)

sklearn.utils.Bunch

In [3]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [4]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [7]:
X = iris.data
y = iris.target
print(len(X))
print(len(y))

150
150

In [8]:
import pandas as pd
X_df = pd.DataFrame(data=X, columns = iris.feature_names)
X_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1, stratify=y)

In [10]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(random_state = 1, n_estimators = 10, n_jobs = -1)
estimator_rf = clf_rf
estimator_rf.fit(X=X_train, y=y_train)

RandomForestClassifier(n_estimators=10, n_jobs=-1, random_state=1)

In [11]:
estimator_rf.score(X_test,y_test)

0.9666666666666667

In [12]:
from sklearn.model_selection import cross_val_score
estimator_cv = clf_rf
scores = cross_val_score(estimator_cv, X, y, cv = 5, scoring = 'accuracy')
scores.mean()

0.9666666666666668

In [13]:
from joblib import dump, load
dump(estimator_rf, 'IRISRandomForestClassifier.joblib')

['IRISRandomForestClassifier.joblib']

In [14]:
loaded_classifier = load('IRISRandomForestClassifier.joblib') 
loaded_classifier.score(X_test,y_test)

0.9666666666666667

In [16]:
data = {
	"sepal length (cm)": 7.9,
	"sepal width (cm)":2.9,
	"petal length (cm)":6.3,
	"petal width (cm)":1.8
}

In [24]:
keys = []
values = []
for key in data:
    keys.append(key)
    values.append(data[key])

In [27]:
X = pd.Series(values).to_numpy().reshape(1, -1)

In [28]:
X

array([[7.9, 2.9, 6.3, 1.8]])